body{
  overflow: hidden;
  margin: 0;
}
  
.graph{
   
    width: 100%;
   
}


strong{
  color : #61b2f9;
}

.selectpicker{
  
  width: 30%;

}
ul{
  width: 88%;
}

p {
  
  font-size: 20px;
  margin: 6px 6px;
}
.div-svg{
  width: 49.736%;
  height: 389px;
  /* height: 93.8%; */
  /* position: absolute; */
  margin-top: 14px;
}


.active > p > strong {color: white !important;}

.active{
  background: #11b1ef;
}


text:focus{
 outline: "none"  !important;
  
}
.list-group-item {
  margin-top: 18px;
  margin-left: -18px;
  padding: 2px;
  border-radius: 5px;
}


g:focus{
  outline: "none"  !important;
   
 }


*:focus{
  outline: "none"  !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
} 

*:hover{
  outline: "none"  !important;
  outline: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
} 

svg{
  outline: "none"  !important;
} 


svg:focus{
  outline: "none"  !important;
} 

svg:hover{
  outline: "none"  !important;
} 

*{
  outline: "none"  !important;;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
} 



 text:hover{
  outline: "none"  !important;;
   
 }

 .col{
  
   float: left;
 }
 .qution{
  width: 50.124%;
  height: 100%;
 }
 