body{
  overflow: hidden;
}
  
.graph{
    border: 1px solid black;
    width: 100%;
   
}

.wrapper{
  margin: 20px;
}

strong{
  color : #61b2f9
}

p {
  font-size: 22px;
}
.div-svg{
  height: 479px;
}


.active > p > strong {
color: white !important;
}

text:focus{
 outline: "none";
  
}


g:focus{
  outline: "none";
   
 }